<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=7,IE=9">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Who's Your District?</title>
	<link rel="stylesheet" href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.4/js/esri/css/esri.css"/>
	<link rel="stylesheet" href="/static/css/home.css"/>
	</head>

	<body class="claro">
		<div id="mainWindow" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'headline',gutters:false" style="width:100%; height:100%;">
		    <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:false" region="left" style="width: 30%;height:100%;">

		    	<!-- Sidebar Panel -->
		        <div id="leftPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
			        <div id="header" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'">
			        	<h2> Who's Your District? </h2>
			        </div>		        	

			        <!-- Data goes in the info container -->
			        <div id="info_container">
			        	<table id ="infolist">
			        		<tbody style="margin:2px;"></tbody>
			        		<tr><td>Representative:</td><td id="rep"></td></tr>
			        		<tr><td>Party:</td><td id="party"></td></tr>
			        		<tr><td>Web Link:</td><td id="web_link"></td></tr>
			        		<tr><td>State:</td><td id="state"></td></tr>
			        		<tr><td>District:</td><td id="district"></td></tr>
			        		<tr><td>Total Population: </td><td id="total_pop"></td></tr>
			        	</table>

			        	<p class="refs"><em>Data from <a href="http://www.census.gov/acs/www/data_documentation/documentation_main/">US Census Bureau ACS 2011 113th CD Dataset </a> and <a href="http://esriurl.com/hack4co">Esri 113th CD API</a></em></p>
		        		<div id ="controls" style="border-top: 1px dotted black; padding-top: 10px; margin-top: 10px; margin-bottom:20px;">
			        		<a href="#" id="previous" style="padding-left: 10px; float:left;">Previous</a>
			        		<a href="#" id="next" style="padding-right: 10px; float:right;">Next</a>			        	
		        		</div>			        	
			        	<div id="chart_container">
				        	<div id='chart_sex' class="charts"></div>
				        	<div id='chart_age' class="charts"></div>
				        	<div id='chart_race'class="charts"></div>
			        	</div>
			        </div>
		        </div>

		    </div>
		    <div id="mapDiv" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'"></div>
		</div>

		<!-- Google Analytics Code -->		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
		  Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-41406249-1', 'whosyourdistrict.org');
		  ga('send', 'pageview');
		</script>
		<!-- Import Google Charting API -->
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script> 
        	  google.load('visualization', '1.0', {'packages':['corechart']});		
		</script>
		<!-- Scripts go in the bottom for after-the-fact page loading. -->
		<script src="http://serverapi.arcgisonline.com/jsapi/arcgis/3.5/"></script>
		<!-- Import JQuery -->
		<script src="/static/js/jquery2.02.js"></script>
		<script> 
			var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }} 
			var URL_TOTAL_POP = "/data/pop/total";
			var URL_POP_SEX = "/data/pop/sex";
			var URL_POP_AGE = "/data/pop/age";
			var URL_POP_RACE_ANY = "/data/pop/race/any";
		</script>
		<!-- Import our own JS -->
		<script src="/static/js/home.js"></script>
	
	</body> 
</html>
